{% extends 'core/base.html' %}

{% block body %}
    <div>
        <h1>Lista de Tarefas</h1>
        {% if tarefa %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Tarefa</th>
                        <th>Descrição</th>
                        <th>Data Final</th>
                        <th>Prioridade</th>
                        <th>Categoria</th>
                        <th colspan="2" style="text-align:center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for t in tarefa %}
                    <tr>
                        <td>{{ t.nome }}</td>
                        <td>{{ t.descricao }}</td>
                        <td>{{ t.data_final }}</td>
                        <td>{{ t.get_prioridade_display }}</td>
                        <td>{{ t.categoria }}</td>
                        <td><a href="{% url 'tarefas:editar_tarefa' t.id %}" class="btn btn-info btn-sm">Editar</a></td>
                        <td><a href="{% url 'tarefas:delete_tarefa' t.id %}" class="btn btn-danger btn-sm">Excluir</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-info">
                <p>Você não tem nenhuma tarefa!!</p>
            </div>
        {% endif %}
            <a href="{% url 'tarefas:nova_tarefa' %}" class="btn btn-dark">Adicionar tarefa</a>
    </div>
{% endblock body %}