{% extends 'core/base.html' %}

{% block body %}
    {% if result %}
         <h1>Resutados</h1>
         <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Tarefa</th>
                    <th>Descrição</th>
                    <th>Data Final</th>
                    <th>Prioridade</th>
                    <th>Status</th>
                    <th>Categoria</th>
                </tr>
            </thead>
            <tbody>
                {% for t in result %}
                <tr>
                    <td>{{ t.nome }}</td>
                    <td>{{ t.descricao }}</td>
                    <td>{{ t.data_final }}</td>
                    <td>{{ t.get_prioridade_display }}</td>
                    <td>{{ t.get_status_display }}</td>
                    <td>{{ t.categoria }}</td>
                </tr>
                {% endfor %}
            </tbody>
         </table>
    {% else %}
        <div class="alert alert-info">
            <p>Não há resultados para esta busca</p>
        </div>
    {% endif %}
{% endblock body %}